name: Build and Package (WAR)

on:
  workflow_dispatch: {}
  pull_request:
    branches: [ "**" ]
  push:
    branches: [ "**" ]

jobs:
  build:
    name: build            # this will show as `Build and Package (WAR) / build`
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Temurin JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build with Maven (skip all tests)
        run: mvn -B -DskipITs -DskipTests clean package

      - name: Upload WAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: codeforge-war
          path: target/*.war
          if-no-files-found: error